<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project.codenicely.behaviour.driving.a1miledrivingapp">

    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".example.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".example.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.predict.sdk.API_KEY"
            android:value="003030d0f77ae1d8b0a21992539c140548cf1126ff5eeef8be129779dfd0846b" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".UnusedActivity" />
        <activity android:name=".location.NewLocationActivity">
            
        </activity>
        <activity
            android:name=".MapsActivity"
            android:label="@string/polyline_demo_label" />

        <service android:name=".helper.LocationService" />

        <receiver android:name=".helper.PhoneUnlockedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <!-- <action android:name="android.intent.action." /> -->

                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>

        <activity android:name=".trip.view.JourneysActivity"></activity>

        <service
            android:name="io.predict.sdk.detection.services.PIOMainService"
            android:exported="false" />
        <service
            android:name="io.predict.sdk.detection.services.PIOUtilService"
            android:exported="false" />
        <service
            android:name="io.predict.sdk.detection.services.PIOLocationService"
            android:exported="false" />
        <service
            android:name="io.predict.sdk.detection.services.PIOComService"
            android:exported="false" />

        <receiver android:name="io.predict.sdk.detection.receivers.PIOReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.AIRPLANE_MODE" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="com.sonymobile.SUPER_STAMINA_SETTING_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity android:name=".example.views.MainActivity"/>

        <activity android:name=".example.views.MapsActivity"/>


    </application>

</manifest>